@import url(https://fonts.googleapis.com/css2?family=Sarabun:wght@100;300;400;500;600;700&display=swap);

.main {
  scroll-behavior: smooth;
  background-color: black;
  font-family: Sarabun, sans-serif;
}

.questionSpan {
  position: relative;
  top: 30px;
  left: 30px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  /* z-index: 20; */
}

.cardSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pfizerInfo {
  width: 450px;
  /* height: 700px; assignment_4 */
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  line-height: 2rem;
}

.paragraph {
  text-indent: 1.3rem;
}

.cardTopic {
  margin-bottom: 10px;
}

div.pfizerInfo li {
  margin-left: 30px;
}