@import url(https://fonts.googleapis.com/css2?family=Sarabun:wght@100;300;400;500;600;700&display=swap);

.main {
  scroll-behavior: smooth;
  background-color: black;
  font-family: Sarabun, sans-serif;
}

.questionSpan {
  position: relative;
  top: 30px;
  left: 30px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  z-index: 20;
}

.cardSection {
  position: relative;
  margin: 50px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
